extends layout

block content
    div
      div(class="center-align margin-small")
        a#dark-mode-btn(class="btn-large waves-effect waves-light center-align") Dark Mode
      div(class="center-align margin-small")
        a#stats-btn(class="btn-large waves-effect waves-light center-align tooltipped" data-position="bottom" data-tooltip="Stats & Browser Info") Show Stats
      div(class="center-align margin-small")
        a#download-btn(class="btn-large waves-effect waves-light center-align") Download Stats
      #stats(class="hidden" )