doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript" src="/javascripts/materialize.min.js")
    script(type="text/javascript" src="/javascripts/main.js")
